

{% extends 'base.html' %}
{%block container%}

<h1 class="font-display text-sm">xmmz</h1>
<h2 class="font-display text-2xl mt-0">新冠肺炎疫情的记忆</h2>
<h2 class="font-display text-2xl mt-0">COVID 2030</h2>


<!-- <h3 id="-">被关在家里的人们</h3> -->
<p>没人能想到那个12月的一个小新闻竟然发酵了这个未来影响整个人类命运的黑天鹅事件。也许只有这样的事件才可能打断人类行进的脚步，又也许打断的并非行进，只是原地踏步中的国与国之间、人与人之间的相互拉扯。</p>
<p>回到那个时间点，2019年12月8日，首例不明原因肺炎患者发病。我当时看到了这个一手新闻，现在已经被宣传部为了构建“正确的回忆”而全网删除搜不到了。我的印象非常深刻，因为我曾亲身经历08年SARS肺炎疫情，所在学校停课、小区设置出入证、我为我妈妈作为护士而担心地哭泣。我内心隐隐担忧了一阵，但新闻上说不传人，我便很快放下忧虑。后来又看到武汉公安局在2020年1月1日发布消息，针对“武汉病毒性肺炎”的不实信息进行了调查。8人因散布不实信息被处理，其中包括因此而去世的吹哨人李文亮医生。然后一步一步很快地就跨越到2020年1月23日，武汉封城了。2020年的春节是2月2日。（更多：<a href="https://zh.wikipedia.org/zh-hans/2019%E5%86%A0%E7%8A%B6%E7%97%85%E6%AF%92%E7%97%85%E4%B8%AD%E5%9B%BD%E5%A4%A7%E9%99%86%E7%96%AB%E6%83%85%E6%97%B6%E9%97%B4%E8%BD%B4">新冠肺炎疫情在中国大陆的时间轴</a>）</p>
<p>2019年，我辞去工作去了迷笛音乐学校学习电吉他，梦想着练就一身技术为我的原创音乐增加更丰富的色彩。但我这些离经叛道的行为并未让母亲知道，因为我知道她一定是极力反对的，并且基于此事只会有非常激烈的碰撞和爆炸，而不会有沟通或者是电影里的暖心和解。 但那个寒假我还是回到家乡，是为了和王狗多待一段时间，我在离她学校不远处租了一间储藏室改造的卧室，没有窗户只有一张床，和4户人一起合租公用一个厕所，其中还有几户不止一个人住。我还记得这间房子600元一个月，不用交暖气费，这样划算的房子也不好找。她还在读研，每天中午我们一起吃饭和午觉，放学了她来到我这里和我一起住。</p>
<p>2019年还是中华人民共和国建国70周年，香港反对《逃犯条例》修订草案运动和中美贸易战白热化的一年，当然还有其他地区的重要事件，比如中东的各种战争、巴黎圣母院大火被毁等等等。</p>
<p>从武汉封城开始，时间就如加速一般，人们被困在家里，整个社会就像一个蒸笼、像一个地狱。没有感染或者没有密接，也会被身边人、网上的人的哭喊惊到心脏。</p>
<p>因为封控，慧业被关在家里五十多天，难得地坚持了每天帕梅拉2个小时的跳操。我目睹小区的大学的学生都被关在宿舍里，一个月没有洗澡，还是挤着6-8人间上下铺的十几平米的小宿舍，一开始爆发疫情但应急预案不完备的时候，他们甚至都没有饭吃在阳台上对经过的人大喊自己要饿死了。想象自己在家里很饿于是打开冰箱只有空空如也，并且不知道自己何时能吃上饭只能守着微信群里小区的安排，这感觉是非常绝望的。饥饿带给人的求生欲是极其真切的。 </p>

{%endblock%}