
{% extends 'base.html' %}
{%block container%}

<h1 class="font-display text-sm">xmmz</h1>
<h2 class="font-display text-2xl mt-0">在所有的感觉里</h2>
<h2 class="font-display text-2xl mt-0">In all the feels</h2>
<h3 class="font-display text-align">June, 2023</h3>

<p>
In all the feels<br />
it's hitting my softest gut<br />
I sit there and thought life is an agony<br />
when I heard the far cry from the great stones
</p>
<p>
I keep the past sensations reflected<br />
The past solitude cannot keep me chill but nourished<br />
Standing in the chaos that your statue faded in<br />
Suspecting the truth is telling the lie to me
</p>
{%endblock%}