
{% extends 'base.html' %}
{%block container%}

<h1 class="font-display text-sm">xmmz</h1>
<h2 class="font-display text-2xl mt-0">名字先于本质</h2>
<h2 class="font-display text-2xl mt-0">Name Preceeds Essence</h2>
<h3 class="font-display text-align">August, 2023</h3>

<p>朋友帮ta的朋友养猫，是一只折耳猫名字叫奥利奥。朋友又说自己家里还有一只美短名字也叫奥利奥。</p>
<!-- ![Orea the Scottish Fold](ScottishFold.jpg =250x) -->
<style>
table, tr, td, th{
padding: 10px;
margin: auto;
border: none;
text-align: center;
}
</style>
<table border-collapse="collapse">
  <tr >
    <td><img src="{{ url_for('static', filename='img/blogs/ScottishFold.jpg') }}" alt="1" width=100% /> </td>
    <td><img src="{{ url_for('static', filename='img/blogs/AmericanShorthair.jpg') }}" alt="Orea the American Shorthair"/></td>
  </tr>
  <tr>
    <td>折耳奥利奥</td>
    <td>美短奥利奥</td>
  </tr>
</table>

<!-- ![Orea the American Shorthair](AmericanShorthair.jpg) -->
<p>这勾起了我一个记忆，好像也认识不止一个小动物叫奥利奥，这个看似有些小情趣小创意的名字竟然成了人中李伟。</p>

<p>近些年给小动物起名或者小婴儿起小名很容易联想一个吃的，可见中国真是美食大国，食物可以和一切美好可爱的东西关联。虽然这样的食物常常小动物是不能吃的，比如奥利奥含有巧克力，所以ta们永远也不会知道自己名字到底有什么意蕴。</p>

<p>我自己养过一只小猫和一只小狗。</p>

<p>我给小猫起的名字是李白，谐音于里白。因为她身上都是黄色的，只有肚子是白色的。小猫李白懒散好吃，喜欢半夜4点在我身边散步。以己度猫我常常给她喂火腿肠，因为我最喜欢的小零食便是火腿肠。她吃的很胖也不爱玩，回到老家看到自己的兄弟姐妹都一个箭步就能上树，自己只能在下面干着急。</p>

<p>小狗的名字是张猪，他是我爷爷那一年3月从马路边捡回来的一直中华田园小黑狗，5月爷爷就去世了。我想让小狗有一种成为我家一份子的感觉，所以他有和我们一样的姓。叫猪则是那种美好祝愿，觉得猪猪很可爱，天天在吃吃喝喝，躺着晒太阳那种无忧无虑的生活。张猪不是绝顶聪明的狗狗，所以永远也没学会在固定地方便便。他喜欢出去玩，也喜欢我。他看我的眼神永远是亲切热烈的，而且我吃什么他就也吃什么，但相同的东西我如果没吃他也不屑一顾。我那段时间喜欢吃榴莲，所以他也超爱，吃到自己有点便秘。不过这种杂食也让他营养很好，毛色发亮，很多人以为他是边牧。</p>
<img src="{{ url_for('static', filename='img/blogs/ZhuZhang.jpg') }}" alt="张猪" width="200"/>
<p>对于小猫小狗来说，ta们可能发现主人用特定音调发出特定声音的时候，就是在望着ta们，所以知道了这个是叫ta们的意思。但是小动物没有自我意识，所以可能不知道这个词儿是代表ta们。
</p>
<h3> 名字之一：标识 </h3>

<p>有一类名字代表你**存在**过，属于你在社会或某个环境的标识，代表你这作为一个单位的个体。身份证的、护照上的名字最强势，基本其他所有名字都得和这里的名字绑定。假如你进了局子，你的名字就成了编号9527，等你出了局子，这个名字也不复存在，但如果提起则会带你重新进入到监狱里的生活。以前互联网刚兴起的时候，网络是真的互联网没有限制，你可以很自由地有多个身份，多种存在。而现在技术发展了，在中国大陆网络监视技术也进步到了天罗地网的程度，当所有的合法应用都需要手机号才能使用，而手机号又是和身份证多对一的，也就是一个ID就可以代表你，而你的所有网络踪迹都可以被这一个ID追踪到。</p>

<p>而现实的姓名本身，是分为姓氏和名字两部分的。姓氏不论在全球哪个国家，新生儿童基本都是随父姓，可以说当我们拥有姓名的时候，就已经被这个社会的父权制打上烙印了。再说名字，通常都是父母起的，没有征求过我们的同意，当然我们那时候也没法去拒绝。日本动漫里常常很在意“名字”的意义，就像《千与千寻》里，认为人不可以忘记自己的名字，名字一旦被夺走，就忘记回家的路了。我不理解。我怀疑绝大多数人都曾有过不喜欢自己名字的时期，大概率就在青春期。有些人随着和父母和解而接受并重新喜欢上自己的名字，有些人则要去改名乃至改姓。对于“招娣”这类名字已然堂而皇之地把小孩刚出生的主体性磨灭了，父母宣告这个世界他们这个小孩的出生没有被祝福。这样的名字实在是该改。
</p>

<h3>名字之二：外号</h3>

<p>读书阶段，每个人都或多或少有一些外号，基本上性格越亲和的同学，外号越多越好玩。我倒是外号很少，我能想起来的就那么一个，也仅存在于个别朋友口中。我的外号这么少莫不是因为我太严肃了？但同学录上，大家给我的评语都是搞笑又和解呢？身在其中答不出来。</p>

<p>外号是存在于熟人圈的，听到好朋友叫自己的外号久了，再听到大名都会心里一惊。但我实则认为，不论有没有外号，大名于我都会有很强烈的陌生感。</p>

<h3>名字之三：标签</h3>

<p>你的兴趣、你的阶层、你的习惯等等，这些都可以变成你的标签。通过标签，你成为了一个社会群体的一部分。甚至在描述一个人的时候，不提及一个动态的事情，则只能通过标签描述。比如一个40-50岁的金融行业的身高158的女高管，你能想到什么？你脑中是不是出现了一个既定的形象————俗称刻板印象？给人打标签不是一个礼貌的人，但好像接触的人越多，人脑越习惯给人打标签，因为这样做可以更快地去理解和决策。**标签就是我们浓缩的人生经验**。人们怀念小时候，是因为小时候脑子里没有那么多标签，一切都是崭新的。</p>

<p>萨特在讲存在先于本质的时候说，一个服务生，如果你说他是服务生，也和说一个杯子是一个杯子不一样，因为这不代表他的本质。“服务生”也是一个标签，标签只是一个存在而不是本质。但我不知道萨特有没有描述过本质是什么。王狗有一次问我，你到底是谁，我想了想，选择了一个让我无比挣扎的重要标签说，我是打工的。</p>
{%endblock%}