{% extends 'base.html' %}
{%block container%}

<h2 class="font-display text-4xl mt-0">Music</h2>

<div>{{ item.content_html|safe }}</div>

<h3 class="font-display text-2xl"> Tracks </h3>
<br>

<iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/1SfwN8MsszFtdxmOrellWj?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>

<h3 class="font-display text-2xl">Videos</h3>
<br>
<section class="mb-1">
        <div class="flex flex-wrap" style="gap: 1rem;">
            <div style="flex: 1; min-width: 300px;">
                <div class="video-responsive rounded">
                    <iframe 
                        src="https://www.youtube.com/embed/nQUVPmZa78Y?si=kTBb2Oqe0jjDzXLQ" 
                        title="YouTube video" 
                        frameborder="0" 
                        allowfullscreen>
                    </iframe>
                </div>
                <div class="video-links-container">
                    <div class="video-links-item">青眼猪与小飞驴</div>
                </div>
            </div>
            
            <div style="flex: 1; min-width: 300px;">
                <div class="video-responsive rounded">
                    <iframe 
                        src="https://www.youtube.com/embed/dUzqPhd6zEQ?si=vMs-Da_hAARndPZ" 
                        title="YouTube video" 
                        frameborder="0" 
                        allowfullscreen>
                    </iframe>
                </div>
                <div class="video-links-container">
                    <div class="video-links-item">For Whatever</div>
                </div>
            </div>

            <div style="flex: 1; min-width: 300px;">
                <div class="video-responsive rounded">
                    <iframe 
                        src="https://www.youtube.com/embed/DKt4uZTglvM?si=hgsI7A2NGM1L_thj" 
                        title="YouTube video" 
                        frameborder="0" 
                        allowfullscreen>
                    </iframe>
                </div>
                <div class="video-links-container">
                    <div class="video-links-item">那天下雨</div>
                </div>
            </div>

            <div style="flex: 1; min-width: 300px;">
                <div class="video-responsive rounded">
                    <iframe 
                        src="https://www.youtube.com/embed/O0Tc1eZasRs?si=v0Kf5c85jITrKrsh" 
                        title="YouTube video" 
                        frameborder="0" 
                        allowfullscreen>
                    </iframe>
                </div>
                <div class="video-links-container">
                    <div class="video-links-item">Life in Jiuxianqiao酒仙桥</div>
                </div>
            </div>            
            <div style="flex: 1; min-width: 300px;">
                <div class="video-responsive rounded">
                    <iframe 
                        src="https://www.youtube.com/embed/p4flPok4U-k?si=XmJr7TByYU6Btr1K" 
                        title="YouTube video" 
                        frameborder="0" 
                        allowfullscreen>
                    </iframe>
                </div>
                <div class="video-links-container">
                        <div class="video-links-item">离婚后强装潇洒 - pretend to be easy after divorce</div>
                </div>
            </div>
            
            <div style="flex: 1; min-width: 300px;">
                 <div class="video-responsive rounded">
                    <iframe 
                        src="https://www.youtube.com/embed/Mn_lEgtGoaE?si=hspy9HyYElGd22Ey" 
                        title="YouTube video" 
                        frameborder="0" 
                        allowfullscreen>
                    </iframe>
                </div>
                <div class="video-links-container">
                    <div class="video-links-item">我不爱你了 - I don’t love you anymore</div>
                </div>
            </div>
     
            <div style="flex: 1; min-width: 300px;">
                 <div class="video-responsive rounded">
                    <iframe 
                        src="https://www.youtube.com/embed/kvTYD0q7iTQ?si=WkwYeC4_K-AaoyBt" 
                        title="YouTube video" 
                        frameborder="0" 
                        allowfullscreen>
                    </iframe>
                </div>
                <div class="video-links-container">
                    <div class="video-links-item">451 on  Aug, 18</div>
                </div>
            </div>
        </div>
    </section>
{%endblock%}