{% extends 'base.html' %}
{%block container%}

<h2 class="font-display text-4xl mt-0">Music</h2>

<div>{{ item.content_html|safe }}</div>

<h3 class="font-display text-2xl"> Tracks </h3>
<br>

<iframe style="border-radius:12px" src="https://open.spotify.com/embed/artist/2KSLzywG3mq1vxbO37yoO3?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
<h3 class="font-display text-2xl">Videos</h3>
<br>
<div class="flex flex-wrap flex-justify-space-between mb-1 mt-2">
    <article class="session-video-detail w-33 mb-1">
        <div class="video-thumbnail relative">
            <a href="https://www.youtube.com/embed/nQUVPmZa78Y" title="青眼猪与小飞驴" target="_blank" rel="noopener">
                <div class="video-overlay flex">
                    <svg  class="video-play-graphic" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10 20H8V4h2v2h2v3h2v2h2v2h-2v2h-2v3h-2v2z" fill="#fff"/>
                    </svg>  
                </div>
                <img src="https://img.youtube.com/vi/nQUVPmZa78Y/hqdefault.jpg" loading="lazy"/>
            </a>
        </div>
        <header class="mt-1"><h3 class="mb-0 mt-0 font-display">青眼猪与小飞驴</h3></header>
    </article>
    
    <article class="session-video-detail w-33 mb-1">
        <div class="video-thumbnail relative">
            <a href="https://www.youtube.com/embed/dUzqPhd6zEQ" title="For Whatever" target="_blank" rel="noopener">
                <div class="video-overlay flex">
                    <svg  class="video-play-graphic" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10 20H8V4h2v2h2v3h2v2h2v2h-2v2h-2v3h-2v2z" fill="#fff"/>
                    </svg>  
                </div>
                <img src="https://img.youtube.com/vi/dUzqPhd6zEQ/hqdefault.jpg" loading="lazy"/>
            </a>
        </div>
        <header class="mt-1"><h3 class="mb-0 mt-0 font-display">For Whatever</h3></header>
    </article>    

    <article class="session-video-detail w-33 mb-1">
        <div class="video-thumbnail relative">
            <a href="https://www.youtube.com/embed/DKt4uZTglvM" title="那天下雨" target="_blank" rel="noopener">
                <div class="video-overlay flex">
                    <svg  class="video-play-graphic" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10 20H8V4h2v2h2v3h2v2h2v2h-2v2h-2v3h-2v2z" fill="#fff"/>
                    </svg>  
                </div>
                <img src="https://img.youtube.com/vi/DKt4uZTglvM/hqdefault.jpg" loading="lazy"/>
            </a>
        </div>
        <header class="mt-1"><h3 class="mb-0 mt-0 font-display">那天下雨</h3></header>
    </article>    

    <article class="session-video-detail w-33 mb-1">
        <div class="video-thumbnail relative">
            <a href="https://www.youtube.com/embed/O0Tc1eZasRs" title="Life in 酒仙桥" target="_blank" rel="noopener">
                <div class="video-overlay flex">
                    <svg  class="video-play-graphic" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10 20H8V4h2v2h2v3h2v2h2v2h-2v2h-2v3h-2v2z" fill="#fff"/>
                    </svg>  
                </div>
                <img src="https://img.youtube.com/vi/O0Tc1eZasRs/hqdefault.jpg" loading="lazy"/>
            </a>
        </div>
        <header class="mt-1"><h3 class="mb-0 mt-0 font-display">Life in 酒仙桥</h3></header>
    </article> 

    <article class="session-video-detail w-33 mb-1">
        <div class="video-thumbnail relative">
            <a href="https://www.youtube.com/embed/p4flPok4U-k" title="离婚后强装潇洒 - pretend to be easy after divorce" target="_blank" rel="noopener">
                <div class="video-overlay flex">
                    <svg  class="video-play-graphic" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10 20H8V4h2v2h2v3h2v2h2v2h-2v2h-2v3h-2v2z" fill="#fff"/>
                    </svg>  
                </div>
                <img src="https://img.youtube.com/vi/p4flPok4U-k/hqdefault.jpg" loading="lazy"/>
            </a>
        </div>
        <header class="mt-1"><h3 class="mb-0 mt-0 font-display">离婚后强装潇洒 - pretend to be easy after divorce</h3></header>
    </article> 

    <article class="session-video-detail w-33 mb-1">
        <div class="video-thumbnail relative">
            <a href="https://www.youtube.com/embed/Mn_lEgtGoaE" title="我不爱你了 - I don’t love you anymore" target="_blank" rel="noopener">
                <div class="video-overlay flex">
                    <!-- <svg class="video-play-graphic" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129.7 243.2"><path fill="#fff" d="M0 243.2h16.2V227h16.2v-16.2h16.2v-16.2h16.3v-16.2h16.2v-16.2h16.2v-16.3h16.2v-16.2h16.2v-16.2h-16.2V97.3H97.3V81.1H81.1V64.9H64.9V48.6H48.6V32.4H32.4V16.2H16.2V0H0z" /></svg> -->
                    <svg  class="video-play-graphic" width="2000px" height="800px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10 20H8V4h2v2h2v3h2v2h2v2h-2v2h-2v3h-2v2z" fill="#fff"/>
                    </svg>
                </div>
                <img src="https://img.youtube.com/vi/Mn_lEgtGoaE/hqdefault.jpg" loading="lazy"/>
            </a>
        </div>
        <header class="mt-1"><h3 class="mb-0 mt-0 font-display">我不爱你了 - I don’t love you anymoree</h3></header>
    </article> 
            

    <article class="session-video-detail w-33 mb-1">
        <div class="video-thumbnail relative">
            <a href="https://www.youtube.com/embed/kvTYD0q7iTQ" title="451 on  Aug, 18" target="_blank" rel="noopener">
                <div class="video-overlay flex">
                    <svg  class="video-play-graphic" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10 20H8V4h2v2h2v3h2v2h2v2h-2v2h-2v3h-2v2z" fill="#fff"/>
                    </svg>                
                </div>
                <img src="https://img.youtube.com/vi/kvTYD0q7iTQ/hqdefault.jpg" loading="lazy"/>
            </a>
        </div>
        <header class="mt-1"><h3 class="mb-0 mt-0 font-display">451 on  Aug, 18</h3></header>
    </article> 
            

</div>
    </section>
{%endblock%}