{% extends 'base.html' %}
{%block container%}
<style>
    .line {
      width: 100%;
      border-bottom: 1px dashed black;
      height: 20px;
    }
  </style>
  
    <header>
      <h1 class="font-display text-sm">xmmz</h1>
      <h2 class="font-display text-4xl mt-0">About Me</h2>
      <!-- <h3 class="font-display text-2xl">March, 2025</h3> -->
    </header>
<div class="max-w-prose">
<p>Hi, my name is <strong>Yuchen Zhang</strong>. I hold a Bachelor's in Statistics and a Master's in Data Science, 
  with over 10 years of combined experience studying and working in data. 
  I've built data systems from scratch at startups and worked on high-traffic online data products at a major tech unicorn. Currently I'm a data analyst at UBC.</p>

<p><a href="https://www.linkedin.com/in/yz-xmmz/" target="_blank" style="color: #0072B1;">LinkedIn</a></p>

<p>I also release music as <strong>xmmz</strong>. Feel free to check out my tracks, I’d love any <mark onclick="getUserInput()" style="cursor: pointer;">feedback</mark>, unless it's  <b onclick="alert('If you insist, OK then.')" style="cursor: pointer;">harsh</b>.</p>
<p id="output"></p>

<p><a href="https://open.spotify.com/artist/2KSLzywG3mq1vxbO37yoO3" target="_blank" style="color: #1DB954;">Spotify</a></p>
<p><a href="https://music.apple.com/us/artist/xmmz/1761669624" target="_blank" style="color: #FF4E6B;">Apple Music</a></p>

<p>I’m based in Vancouver and speak both Mandarin and English. 
  I enjoy the simplicity and beauty of math and philosophy, and feel coding is like stress-relieving therapy. 
  My creativity mainly goes into songwriting and music production, and jokes. 
  These days I play tennis often but table tennis is my often-missed first love.</p>

<p>This site is where I’ll be sharing my data projects and ideas, my music, both realsed and demo performances.</p>



</div>

<p>我叫张雨晨，本硕分别是统计学和数据科学，专业和工作加起来有十来年了，一直都在数据行业。我擅长从零开始构建内部数据系统，以及大型在线数据产品，目前在英属哥伦比亚大学做数据分析师。我还写了一些歌/音乐，可以通过xmmz搜到我。我住在温哥华，可以说中英文。我喜欢数学和哲学的概念、编程的解压。自己的创造力基本注入在歌里，还有一些笑话上。近期打网球比较多，但还是念念不忘乒乓球。</p>
    
<!-- <p>Check out the links about me: [Blogs](https://petitmi.com/bread) | [Medium](https://medium.com/@petitmi001) | [Linkedin](https://www.linkedin.com/in/yuchen-nyx-zhang/) | [Youtube](https://www.youtube.com/channel/UC6YTScw2p9u6AHp-tgXDIrA)</p> -->
<script>
  for (let i = 0; i < 12; i++) {
    document.write('<div class="line"></div>');
  }

  function getUserInput() {
            let userText = prompt("Haaaallo! Send anonymous message to me:");
            if (userText) {
                fetch('/send_email', {
                    method: 'POST',
                    headers: {'Content-Type': 'application/json'},
                    body: JSON.stringify({message: userText})
                })
                .then(response => response.json())
                .then(
                  data => {alert(data.status);
                })
            .catch(error => {
              alert('Error! Send by your own: petitmi001@gmail.com');
            });
            }
        }
</script>

<div class="relative flexible flex space-x-2  max-w-prose overflow-hidden">
  <pre role="img" class="font-display-mono aliased text-10">
         />    <\
        //      \\
  <\   \\  __   //   />
    \\___\\(oo)//___//
     `---.X{II}X.---'
  ______//=/\/\=\\_____
  `-----/| =  = |\-----'
       //\ =\/= /\\
      ((  `-..-'  ))
       \)        (/  hjw
  </pre>
  <pre role="img" class="font-display-mono aliased text-10">
        />    <\
       //      \\
  <\   \\  __  //   />
   \\___\\(oo)//___//
    `---.X{II}X.---'
  ______//=/\/\=\\_____
  `-----/| =  = |\-----'
      //\ =\/= /\\
     ((  `-..-'  ))
      \)        (/  hjw
  </pre>
  <pre role="img" class="font-display-mono aliased text-10">
        />    <\
       //      \\
  <\   \\  __  //   />
   \\___\\(oo)//___//
    `---.X{II}X.---'
  ______//=/\/\=\\_____
  `-----/| =  = |\-----'
      //\ =\/= /\\
     ((  `-..-'  ))
      \)        (/  hjw
  </pre>
  </div>

  <a href="https://linktr.ee/xmmz" target="_blank" rel="noopener noreferrer">
    <img src="{{ url_for('static', filename='img/index/xmmz.png') }}" style="height:300px"/>
  </a>
{%for image in images%}
<img src="{{ url_for('static', filename=image) }}" style="height:200px"/>
{% endfor %}
<!-- <img src="{{ url_for('static', filename='img/index/mask.JPG') }}" style="height:400px"/> -->

{%endblock%}